server {
    listen 80;
    server_name {{item}};
    access_log /var/www/{{item}}/log/nginx.access.log;
    error_log /var/www/{{item}}/log/nginx.error.log;

    location /wp-includes {
    location ~* \.(jpg|jpeg|gif|png|ico|css|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|txt|tar|mid|midi|wav|bmp|rtf|js) {
        root /var/www/{{item}}/{{directories.0}};
    }}
     
    location ~* \.(jpg|jpeg|gif|png|ico|css|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|txt|tar|mid|midi|wav|bmp|rtf|js) {
    root /var/www/{{item}}/{{directories.0}};
    }
    location / {
        proxy_pass http://127.0.0.1:81;
    }

    location /phpmyadmin {

        location ~* \.(js|css|png|jpg|jpeg|gif|ico|woff|woff2|swf|ttf|svg|html|txt)$ {
            root /var/www;
        }
        location /phpmyadmin/ {
            proxy_pass http://127.0.0.1:81;
            proxy_buffering off;
        }
    }
}