# phpMyAdmin default Apache configuration

Alias /{{pma_user}} /var/www/{{pma_user}}
AssignUserId {{pma_user}}  {{webserver_user}}
<Directory /var/www/{{pma_user}}>
    Options SymLinksIfOwnerMatch
    DirectoryIndex index.php

    <IfModule mod_php5.c>
        <IfModule mod_mime.c>
            AddType application/x-httpd-php .php
        </IfModule>
        <FilesMatch ".+\.php$">
            SetHandler application/x-httpd-php
        </FilesMatch>

        php_value include_path .
        php_admin_value upload_tmp_dir /var/www/{{pma_user}}/tmp
        php_admin_value open_basedir /var/www/{{pma_user}}/:/etc/{{pma_user}}/:/var/lib/{{pma_user}}/:/usr/share/php/php-gettext/:/usr/share/php/php-php-gettext/:/usr/share/javascript/:/usr/share/php/tcpdf/:/usr/share/doc/{{pma_user}}/:/usr/share/php/phpseclib/
        php_admin_value mbstring.func_overload 0
    </IfModule>
    <IfModule mod_php.c>
        <IfModule mod_mime.c>
            AddType application/x-httpd-php .php
        </IfModule>
        <FilesMatch ".+\.php$">
            SetHandler application/x-httpd-php
        </FilesMatch>

        php_value include_path .
        php_admin_value upload_tmp_dir /var/www/{{pma_user}}/tmp
        php_admin_value open_basedir /var/www/{{pma_user}}/:/etc/{{pma_user}}/:/var/lib/{{pma_user}}/:/usr/share/php/php-gettext/:/usr/share/php/php-php-gettext/:/usr/share/javascript/:/usr/share/php/tcpdf/:/usr/share/doc/{{pma_user}}/:/usr/share/php/phpseclib/
        php_admin_value mbstring.func_overload 0
    </IfModule>

</Directory>

# Authorize for setup
<Directory /var/www/{{pma_user}}/setup>
    <IfModule mod_authz_core.c>
        <IfModule mod_authn_file.c>
            AuthType Basic
            AuthName "phpMyAdmin Setup"
            AuthUserFile /etc/{{pma_user}}/htpasswd.setup
        </IfModule>
        Require valid-user
    </IfModule>
</Directory>

# Disallow web access to directories that don't need it
<Directory /var/www/{{pma_user}}/templates>
    Require all denied
</Directory>
<Directory /var/www/{{pma_user}}/libraries>
    Require all denied
</Directory>
<Directory /var/www/{{pma_user}}/setup/lib>
    Require all denied
</Directory>
