<?php
/**
 * Основные параметры WordPress.
 *
 * Скрипт для создания wp-config.php использует этот файл в процессе
 * установки. Необязательно использовать веб-интерфейс, можно
 * скопировать файл в "wp-config.php" и заполнить значения вручную.
 *
 * Этот файл содержит следующие параметры:
 *
 * * Настройки MySQL
 * * Секретные ключи
 * * Префикс таблиц базы данных
 * * ABSPATH
 *
 * @link https://ru.wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Параметры MySQL: Эту информацию можно получить у вашего хостинг-провайдера ** //
/** Имя базы данных для WordPress */
define( 'DB_NAME', '{{mysql_db}}' );

/** Имя пользователя MySQL */
define( 'DB_USER', '{{mysql_user}}' );

/** Пароль к базе данных MySQL */
define( 'DB_PASSWORD', '{{mysql_password}}' );

/** Имя сервера MySQL */
define( 'DB_HOST', 'localhost' );

/** Кодировка базы данных для создания таблиц. */
define( 'DB_CHARSET', 'utf8' );

/** Схема сопоставления. Не меняйте, если не уверены. */
define( 'DB_COLLATE', '' );

/**#@+
 * Уникальные ключи и соли для аутентификации.
 *
 * Смените значение каждой константы на уникальную фразу.
 * Можно сгенерировать их с помощью {@link https://api.wordpress.org/secret-key/1.1/salt/ сервиса ключей на WordPress.org}
 * Можно изменить их, чтобы сделать существующие файлы cookies недействительными. Пользователям потребуется авторизоваться снова.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '|I~)vV{n?M3EKV7Vx^wHHaV?3PP.A?ba&0}|/bCwh6QytiJdK+{@)kY?s-#Y{of]');
define('SECURE_AUTH_KEY',  'VJVeD,<U+<1p+xTay@TJprB;o*]VU7S_k}FD%co{*ztMxzxx{]<6?<G:m@Tz-.;8');
define('LOGGED_IN_KEY',    '+rB%Qm<W[|Bu/ n%&E-HUs|f0whGQ02}(EfjKu>-KlS8oI/dW9<8y5VIE?.&NosW');
define('NONCE_KEY',        'l$nSTEk5zHpYPGc~`0l}-5,k& gKuNm|P8#}Zn!A<#r)>(Q/[$E@il>0*up}~0(X');
define('AUTH_SALT',        'mCm-K&Zkzix>3qa MyPj+1z$#|jx8r{LiW#zh`UAV8yX8VMA2lI*!kH12 1[|C%e');
define('SECURE_AUTH_SALT', '@l(0:OJI5!+_*H7]m8f2~3zxp=6a8mYrb1{*6Qf bLQsENZ4/Zs97TfkCwkz0VB6');
define('LOGGED_IN_SALT',   'M`&#[vFvU Rb3v2|XHl&zEKA0=O42sp)6(zJ3GP7A:v*_3i8^Ul:+J sv@VVPJHG');
define('NONCE_SALT',       '4#AC@O1273+O*_^T|+K)*,|ll!ylqRr736+7o&C.Oy+Ft/Mldq;C<R64`&|Qf|>-');
/**#@-*/

/**
 * Префикс таблиц в базе данных WordPress.
 *
 * Можно установить несколько сайтов в одну базу данных, если использовать
 * разные префиксы. Пожалуйста, указывайте только цифры, буквы и знак подчеркивания.
 */
$table_prefix = 'wp_';

/**
 * Для разработчиков: Режим отладки WordPress.
 *
 * Измените это значение на true, чтобы включить отображение уведомлений при разработке.
 * Разработчикам плагинов и тем настоятельно рекомендуется использовать WP_DEBUG
 * в своём рабочем окружении.
 *
 * Информацию о других отладочных константах можно найти в документации.
 *
 * @link https://ru.wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Это всё, дальше не редактируем. Успехов! */

/** Абсолютный путь к директории WordPress. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Инициализирует переменные WordPress и подключает файлы. */
require_once ABSPATH . 'wp-settings.php';
